*{
    font-family: 'Permanent Marker', cursive;   

}
body{
    background-image: url("../obj/kamehouse.jpg");
    
}
body nav{
    margin-bottom: 220px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form{
    background-color: rgba(125, 166, 243, 0.493);
    border-radius: 10px;
    padding: 25px;
}
.elboton{
    margin-top: 9px;
}